{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
<div class="container">
    
<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
    <div class="row no-gutters">
        <aside class="col-md-6">
<article class="gallery-wrap"> 
    <div class="img-big-wrap">
        <a href="#"><img src="{{ producto_individual.Imagen.url }}"></a>
    </div> <!-- img-big-wrap.// -->
        
</article> <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">
<article class ="content-body">

<h2 class='title'>{{ producto_individual.producto_nombre }}</h2>
                
<div class="mb-3"> 
    <var class="price h4">$ {{ producto_individual.precio }}</var> 
</div> 
                
<p> {{ producto_individual.descripcion }} </p>
                
                
<hr>
    <div class="row">
        <div class="item-option-select">
            <h6>Cambiar Color</h6>
            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light">
                    <input type="radio" name="radio_color"> Blanco
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="radio_color"> Gris
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="radio_color"> Amarillo
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="radio_color"> Negro
                </label>
            </div>
        </div>
    </div> <!-- row.// -->
    <div class="row">
        <div class="item-option-select">
            <h6>Talla </h6>
            <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-light">
                    <input type="radio" name="radio_color"> S
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="radio_color"> M
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="radio_color"> L
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="radio_color"> XL
                </label>
            </div>
        </div>
    </div> <!-- row.// -->
    <hr>
    {% if producto_individual.stock <= 0 %}
        <h5 class = "text-danger"> Agotado </h5>
        {% else %}
            {% if en_carrito %}
                <a href="#" class="btn  btn-success"> <span class="text">Ya Esta En El Carrito</span> <i class="fas fa-check"></i>  </a>
                <a href="{% url 'carrito' %}" class="btn  btn-outline-primary"> <span class="text">Ver Tu Carrito</span> <i class="fas fa-eye"></i>  </a>
            {% else %}
                <a href="{% url 'agregar_carrito' producto_individual.id %}" class="btn  btn-primary"> <span class="text">Añadir al carrito</span> <i class="fas fa-shopping-cart"></i>  </a>
            {% endif %}
        {% endif %}
</article> <!-- product-info-aside .// -->
        </main> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
    
    <div class="row">
                <div class="col-md-9">
    
        <header class="section-heading">
            <h3>Reseñas de articulo </h3>  
            
        </header>
    
        <article class="box mb-3">
            <div class="icontext w-100">
                <img src="{% static './images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
                <div class="text">
                    <span class="date text-muted float-md-right">09.09.2024 </span>  
                    <h6 class="mb-1">Diana Patricia </h6>
                    
                </div>
            </div> <!-- icontext.// -->
            <div class="mt-3">
                <p>
                    ¡Excelente experiencia de compra! Desde el primer momento, el sitio web fue muy fácil de navegar, y encontré lo que buscaba en cuestión de minutos. 
                    Me sorprendió gratamente la variedad de productos disponibles y las descripciones detalladas que ayudaron a tomar una decisión informada. Además, 
                    el proceso de pago fue rápido y seguro, y el envío llegó incluso antes de lo esperado. ¡La calidad del producto superó mis expectativas! 
                    Definitivamente, recomendaría esta tienda a cualquiera que busque una experiencia de compra en línea confiable y sin complicaciones.
                </p>	
            </div>
        </article>
    
        
    
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
